@font-face {
    font-family: Epilogue-ExtraBold;
    src: local("../public/fonts/Epilogue/static/Epilogue-ExtraBold.ttf");
}

@font-face {
    font-family: Epilogue-Regular;
    src: local("../public/fonts/Epilogue/static/Epilogue-Regular.ttf");
}

@font-face {
    font-family: Epilogue-Black;
    src: local("../public/fonts/Epilogue/static/Epilogue-Black.ttf");
}

header {
    background-color: #28293e;
    color: #ffffff;
}

main {
    background-color: #fdf0e9;
}

.desc {
    color: #b0b1b6;
}

.main-nav a {
    color: #ffffff;
}

.contact-btn {
    color: #ffffff;
    border-color: #b0b1b6;
}

.topic-list li {
    color: #8f7466;
}

.topic-nav a {
    color: #8f7466;
}

.load-more-btn {
    color: #391400;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.topic-name {
    color: white;
}

.topic-link {
    color: #8f7466;
    background-color: white;
}

.mobile-sel {
    color: #8f7466;
    border-color: #f1c6af;
}

.select-arrow {
    background-image:
            linear-gradient(45deg, transparent 50%, orangered 50%),
            linear-gradient(135deg, orangered 50%, transparent 50%);
}

header {
    padding-top: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-family: Epilogue-Regular, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 150px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    font-family: Epilogue-ExtraBold, sans-serif;
    font-size: 72px;
    text-align: center;
    margin: 70px 0 20px 0;
}

.desc {
    font-family: Epilogue-Regular, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 600px;
    margin: 0 auto 70px;
}

.wrapper-nav {
    display: grid;
    gap: 0;
    grid-template-columns: 200px auto 200px;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.main-nav {
    width: 550px;
}

.logo {
    font-family: Epilogue-Regular, sans-serif;
    font-size: 30px;
    text-align: center;
}

.contact-btn {
    font-family: Epilogue-Black, sans-serif;
    font-size: 14px;
    background-color: transparent;
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    margin: 0 auto;
}

.topic-list li {
    display: inline-block;
    font-family: Epilogue-regular, sans-serif;
    margin: 80px 40px;
    cursor: pointer;
}

.load-more-btn {
    font-family: Epilogue-Black, sans-serif;
    font-size: 12px;
    border-width: 0;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 16px;
    border-width: 0;
    border-radius: 5px;
    position: relative;
}

.background-img-block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 300px;
    border-radius: 5px;
}

.card:first-child {
    outline: none;
}

article {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 40px;
    max-width: 1300px;
}

.topic-name {
    text-decoration: none;
    font-size: 26px;
    font-family: Epilogue-ExtraBold, sans-serif;
    position: absolute;
    margin-left: 20px;
    margin-bottom: 10px;
    outline: 0;
}

.topic-link {
    width: fit-content;
    border-width: 0;
    border-radius: 25px;
    padding: 5px 18px;
    margin-left: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    position: absolute;
    outline: 0;
}

.mobile-sel {
    display: none;
    margin: 50px 0;
    width: 250px;
    border-radius: 5px;
    border: 1px solid;
    padding: 10px;
    font-family: Epilogue-regular, sans-serif;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-arrow {
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
    article {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1040px) {
    .main-nav {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .wrapper-nav {
        display: block;
    }

    article {
        display: block;
    }

    .mobile-sel {
        display: block;
    }

    .topic-list {
        display: none;
    }

    .desc {
        width: 300px;
    }
}
